#beach-image{
    width:500px;
    height:180px;
}

.beach-image-card-body{
    width:500px;
    height:180px;
    font-size:10px;
}

.beach-image-card-container{

}

.card-img-top-1{
}